In [6]:

import pandas as pd
import numpy as np
from sqlalchemy import create_engine
# from config import password

## Merge netflix and omdb csv files

In [7]:
file = "netflix_titles.csv"
netflix_df = pd.read_csv(file)
file = "omdb_list.csv"
omdb_df = pd.read_csv(file)

In [8]:
omdb_df.head()

,Unnamed: 0,title,genre,runtime,imdbRating,imdbVotes,poster,awards,boxoffice,language
0,0,Norm of the North: King Sized Adventure,"Animation, Adventure, Comedy, Family",90 min,3.3,311,https://m.media-amazon.com/images/M/MV5BNjMwZD...,NaN,NaN,English
1,1,Jandino: Whatever it Takes,Comedy,95 min,4.8,23,https://m.media-amazon.com/images/M/MV5BMWE3MG...,NaN,NaN,"English, Dutch"
2,2,Transformers Prime,"Animation, Action, Adventure, Comedy, Drama, F...",30 min,7.9,"5,454",https://m.media-amazon.com/images/M/MV5BMTczND...,14 wins & 26 nominations.,NaN,English
3,3,Transformers: Robots in Disguise,"Animation, Action, Adventure, Comedy, Sci-Fi",22 min,6.0,842,https://m.media-amazon.com/images/M/MV5BMjMwNT...,2 wins & 11 nominations.,NaN,English
4,4,Apaches,Drama,82 min,5.9,292,https://m.media-amazon.com/images/M/MV5BODYyOT...,3 nominations.,NaN,"French, Arabic"

In [9]:
omdb_unique_df = omdb_df.drop_duplicates(subset=['title'])
print(len(omdb_df))
print(len(omdb_unique_df))

5473
5412

In [10]:
merged_df = netflix_df.merge(omdb_unique_df, how="left", on="title")
merged_df['imdbVotes']= merged_df['imdbVotes'].str.replace(',', '')
merged_df['imdbVotes']= merged_df['imdbVotes'].fillna(0)
merged_df['imdbVotes']= merged_df['imdbVotes'].astype(int)
print(len(merged_df))
merged_df.head()

6234

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,description,Unnamed: 0,genre,runtime,imdbRating,imdbVotes,poster,awards,boxoffice,language
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,...,Before planning an awesome wedding for his gra...,0.0,"Animation, Adventure, Comedy, Family",90 min,3.3,311,https://m.media-amazon.com/images/M/MV5BNjMwZD...,NaN,NaN,English
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,...,Jandino Asporaat riffs on the challenges of ra...,1.0,Comedy,95 min,4.8,23,https://m.media-amazon.com/images/M/MV5BMWE3MG...,NaN,NaN,"English, Dutch"
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,...,"With the help of three human allies, the Autob...",2.0,"Animation, Action, Adventure, Comedy, Drama, F...",30 min,7.9,5454,https://m.media-amazon.com/images/M/MV5BMTczND...,14 wins & 26 nominations.,NaN,English
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,...,When a prison ship crash unleashes hundreds of...,3.0,"Animation, Action, Adventure, Comedy, Sci-Fi",22 min,6.0,842,https://m.media-amazon.com/images/M/MV5BMjMwNT...,2 wins & 11 nominations.,NaN,English
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,...,When nerdy high schooler Dani finally attracts...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN

## Transform netflix genre

In [11]:
# Turn listed_in into list
merged_df.listed_in = merged_df.listed_in.str.split(',').tolist()
listed_df = merged_df.dropna(subset=['listed_in'])
listed_in = listed_df["listed_in"].tolist()

In [12]:
# Loop through listed_in (netflix genre) and get unique values into netflix_genre set
netflix_genre = set()

for movie in listed_in:
    for x in movie:
        netflix_genre.add(x)
print(netflix_genre)

netflix_genre_id = pd.DataFrame(netflix_genre, columns=["netflix_genre"])
netflix_genre_id["netflix_genre"]=netflix_genre_id["netflix_genre"].str.strip()
netflix_genre_id = netflix_genre_id.drop_duplicates()
netflix_genre_id = netflix_genre_id.reset_index()
netflix_genre_id = netflix_genre_id.rename(columns={'index': 'netflix_genre_no'})
print(len(netflix_genre_id))
netflix_genre_id.head()

{'TV Action & Adventure', ' Comedies', 'Spanish-Language TV Shows', ' TV Mysteries', ' Documentaries', 'Reality TV', ' Spanish-Language TV Shows', ' Korean TV Shows', ' Sci-Fi & Fantasy', 'Crime TV Shows', 'Movies', 'Classic Movies', 'TV Sci-Fi & Fantasy', ' Dramas', ' Classic & Cult TV', 'Docuseries', 'Romantic TV Shows', ' Crime TV Shows', 'Music & Musicals', 'Stand-Up Comedy & Talk Shows', 'Romantic Movies', 'TV Dramas', ' Children & Family Movies', ' International Movies', ' TV Sci-Fi & Fantasy', ' TV Action & Adventure', ' TV Horror', 'TV Horror', 'Thrillers', 'TV Comedies', 'Documentaries', ' Stand-Up Comedy & Talk Shows', ' Horror Movies', ' Docuseries', ' Romantic Movies', 'Horror Movies', 'Cult Movies', ' TV Comedies', 'British TV Shows', 'Anime Features', ' Classic Movies', 'Independent Movies', ' Science & Nature TV', 'Sports Movies', 'Stand-Up Comedy', "Kids' TV", ' Thrillers', ' TV Dramas', 'International TV Shows', ' Independent Movies', 'Children & Family Movies', 'Action & Adventure', 'Comedies', ' Teen TV Shows', ' Cult Movies', ' International TV Shows', " Kids' TV", ' Anime Features', ' Stand-Up Comedy', 'International Movies', ' Romantic TV Shows', ' LGBTQ Movies', 'TV Shows', 'Anime Series', ' Reality TV', 'Classic & Cult TV', ' Faith & Spirituality', ' Sports Movies', 'Dramas', ' Music & Musicals', ' TV Thrillers', 'Sci-Fi & Fantasy'}
42

   netflix_genre_no              netflix_genre
0                 0      TV Action & Adventure
1                 1                   Comedies
2                 2  Spanish-Language TV Shows
3                 3               TV Mysteries
4                 4              Documentaries

In [13]:
# Break out genres (listed_in) with show_id
listed_in_df = merged_df.loc[:,['show_id', 'listed_in']]
listed_in_df = listed_in_df.explode('listed_in')
listed_in_df['listed_in'] = listed_in_df['listed_in'].str.strip()
listed_in_df = listed_in_df.rename(columns={'listed_in': 'netflix_genre'})
print(len(listed_in_df))
listed_in_df.head()

13670

    show_id             netflix_genre
0  81145628  Children & Family Movies
0  81145628                  Comedies
1  80117401           Stand-Up Comedy
2  70234439                  Kids' TV
3  80058654                  Kids' TV

In [14]:
# merge tables to create show_id and genre_id table
netflix_genre_table = listed_in_df.merge(netflix_genre_id,how = "left", on="netflix_genre")
netflix_genre_table = netflix_genre_table.loc[:,['show_id','netflix_genre_no']]
print(len(netflix_genre_table))
netflix_genre_table.head()

13670

    show_id  netflix_genre_no
0  81145628                22
1  81145628                 1
2  80117401                44
3  70234439                45
4  80058654                45

## Transform omdb genre

In [15]:
# Turn genre into list 
merged_df.genre = merged_df.genre.str.split(',').tolist()
genre_df = merged_df.dropna(subset=['genre'])
genre = genre_df["genre"].tolist()

In [16]:
# Loop through genre (omdb genre) and get unique values into omdb_genre set
omdb_genre = set()

for movie in genre:
    for y in movie:
        omdb_genre.add(y)
print(omdb_genre)

omdb_genre_id = pd.DataFrame(omdb_genre, columns=["omdb_genre"])
omdb_genre_id["omdb_genre"]=omdb_genre_id["omdb_genre"].str.strip()
omdb_genre_id = omdb_genre_id.drop_duplicates()
omdb_genre_id = omdb_genre_id.reset_index()
omdb_genre_id = omdb_genre_id.rename(columns={'index': 'omdb_genre_no'})
print(len(omdb_genre_id))
omdb_genre_id.head()

{'History', ' Musical', ' Comedy', ' Music', ' Western', 'Sci-Fi', ' Thriller', 'Sport', ' Animation', ' Family', 'Crime', ' Romance', ' Drama', 'Music', 'Comedy', ' Documentary', ' War', 'Action', 'Short', ' Film-Noir', 'Romance', ' Horror', ' Action', 'War', ' Short', 'Family', ' Talk-Show', ' Game-Show', 'Musical', 'News', 'Western', 'Mystery', ' Biography', 'Adult', ' Sci-Fi', ' Fantasy', ' Mystery', ' History', 'Talk-Show', 'Reality-TV', 'Adventure', ' Sport', ' News', ' Crime', 'Biography', 'Animation', 'Game-Show', 'Horror', ' Reality-TV', 'Thriller', ' Adventure', 'Documentary', 'Drama', 'Fantasy'}
28

   omdb_genre_no omdb_genre
0              0    History
1              1    Musical
2              2     Comedy
3              3      Music
4              4    Western

In [17]:
# Break out genres with show_id
genre_df = merged_df.loc[:,['show_id', 'genre']]
genre_df = genre_df.explode('genre')
genre_df['genre'] = genre_df['genre'].str.strip()
genre_df = genre_df.rename(columns={'genre': 'omdb_genre'})
genre_df.dropna(inplace = True)
print(len(genre_df))
genre_df.head()

13276

    show_id omdb_genre
0  81145628  Animation
0  81145628  Adventure
0  81145628     Comedy
0  81145628     Family
1  80117401     Comedy

In [18]:
# merge tables to create show_id and genre_id table
omdb_genre_table = genre_df.merge(omdb_genre_id,how = "left", on="omdb_genre")
omdb_genre_table = omdb_genre_table.loc[:,['show_id','omdb_genre_no']]
print(len(omdb_genre_table))
omdb_genre_table.head()

13276

    show_id  omdb_genre_no
0  81145628              8
1  81145628             40
2  81145628              2
3  81145628              9
4  80117401              2

## Transform language table

In [19]:
# Turn language into list 
merged_df.language = merged_df.language.str.split(',').tolist()
lan_df = merged_df.dropna(subset=['language'])
language = lan_df["language"].tolist()
print(len(language))

5320

In [15]:
# Loop through language (omdb language) and get unique values into language_set set
language_set = set()

for row in language:
    for i in row:
        language_set.add(i)
print(language_set)

language_df = pd.DataFrame(language_set, columns=["language"])
language_df["language"]=language_df["language"].str.strip()
language_df = language_df.drop_duplicates()
language_df = language_df.reset_index()
language_df = language_df.rename(columns={'index': 'language_no'})
print(len(language_df))
language_df.head()

{' Polynesian', ' Kurdish', ' Hebrew', 'Mandarin', 'Punjabi', 'Japanese', 'Serbo-Croatian', 'Telugu', ' British Sign Language', ' Manipuri', ' Hausa', ' Mapudungun', 'Croatian', 'Cantonese', 'Hokkien', 'Sanskrit', ' Icelandic', 'Catalan', ' Japanese Sign Language', 'Akan', 'Spanish', 'Basque', ' English', 'German', ' Bosnian', 'Afrikaans', 'Neapolitan', ' Sinhalese', 'Italian', ' Somali', ' Turkmen', ' Italian', ' Tarahumara', ' Nepali', 'Danish', 'Malay', 'Indonesian', ' Romanian', 'Bulgarian', ' Amharic', ' Zulu', ' Indonesian', 'Marathi', ' Saami', ' Armenian', 'Georgian', ' Min Nan', ' Tajik', 'Pushto', 'Welsh', 'Polish', ' Hungarian', 'Bengali', ' Urdu', ' Bhojpuri', ' Sindarin', ' Minangkabau', 'Dutch', 'Korean', 'Bhojpuri', ' Washoe', 'English', ' Hindi', ' Turkish', ' Mohawk', ' Czech', ' Uighur', ' Thai', ' Arabic', ' Swedish', ' Cantonese', ' Wolof', ' Kannada', 'Serbian', ' Teochew', ' Ewe', ' Pushto', ' Tagalog', 'American Sign Language', 'Hebrew', 'Yoruba', 'Chinese', ' Maori', ' Syriac', ' Croatian', ' Greenlandic', ' Yoruba', ' Slovenian', ' Akan', ' Assamese', ' Chinese', ' German', 'Thai', ' Mandarin', ' Ukrainian', ' Egyptian (Ancient)', ' Bable', 'Latin', ' Polish', ' French', 'Flemish', 'Khmer', 'Tagalog', ' Serbo-Croatian', ' Russian', 'Oriya', ' Irish', ' American Sign Language', ' Xhosa', ' Japanese', 'Malayalam', ' Greek', ' Nyanja', 'Swedish', ' Punjabi', 'Portuguese', ' Khmer', ' Romany', ' Dari', ' Flemish', ' Indian Sign Language', 'Ukrainian', ' Mongolian', ' Swahili', ' Serbian', ' Central American Indian languages', ' Lithuanian', 'Filipino', ' Portuguese', ' Marathi', ' Vietnamese', ' Hokkien', ' Malayalam', ' East-Greenlandic', 'Khasi', ' Quenya', ' Persian', ' Bulgarian', 'Norwegian', 'Kikuyu', ' Scottish Gaelic', 'Gujarati', ' Assyrian Neo-Aramaic', 'Russian', ' Afrikaans', 'Sinhalese', 'Persian', ' Aboriginal', 'Icelandic', ' Southern Sotho', 'Kannada', ' Nama', ' Tibetan', ' Ibo', ' Spanish', ' Bengali', 'Nepali', 'Romanian', ' Mixtec', 'Greek', 'Min Nan', ' Awadhi', ' Kriolu', 'Wolof', ' Norwegian', ' Swiss German', ' Catalan', ' Sanskrit', ' Cheyenne', ' Danish', ' Cree', ' Aragonese', ' Dutch', 'Turkish', ' Albanian', ' Latin', ' Klingon', ' Berber languages', ' Lingala', 'Ukrainian Sign Language', 'Shona', ' Korean', 'Assamese', ' Yiddish', ' Gujarati', ' Finnish', ' Chechen', 'Tamil', 'Slovenian', 'Hungarian', ' Malay', 'Arabic', ' Quechua', 'Zulu', ' Filipino', 'Hindi', 'None', ' Latvian', ' Telugu', ' Mende', 'French', ' Estonian', ' Old English', ' Tamil', 'Finnish', 'Vietnamese', ' Burmese', 'Panjabi', ' Basque', ' Hawaiian', ' Kazakh', 'Urdu'}
145

   language_no    language
0            0  Polynesian
1            1     Kurdish
2            2      Hebrew
3            3    Mandarin
4            4     Punjabi

In [16]:
# Break out languages with show_id
language_all_df = merged_df.loc[:,['show_id', 'language']]
language_all_df = language_all_df.explode('language')
language_all_df['language'] = language_all_df['language'].str.strip()
language_all_df.dropna(inplace = True)
language_all_df.head()

    show_id language
0  81145628  English
1  80117401  English
1  80117401    Dutch
2  70234439  English
3  80058654  English

In [17]:
# merge tables to create show_id and language_no table
language_table = language_all_df.merge(language_df,how = "left", on="language")
language_table = language_table.loc[:,['show_id','language_no']]
print(len(language_table))
language_table.head()

7253

    show_id  language_no
0  81145628           22
1  80117401           22
2  80117401           57
3  70234439           22
4  80058654           22

## Transform Cast table

In [18]:
# Turn Cast into list 
merged_df.cast = merged_df.cast.str.split(',').tolist()
cast_df = merged_df.dropna(subset=['cast'])
cast = lan_df["cast"].tolist()
print(len(cast))
cast_df

5320

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,...,description,Unnamed: 0,genre,runtime,imdbRating,imdbVotes,poster,awards,boxoffice,language
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","[Alan Marriott, Andrew Toth, Brian Dobson, ...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,...,Before planning an awesome wedding for his gra...,0.0,"[Animation, Adventure, Comedy, Family]",90 min,3.3,311,https://m.media-amazon.com/images/M/MV5BNjMwZD...,NaN,NaN,[English]
1,80117401,Movie,Jandino: Whatever it Takes,NaN,[Jandino Asporaat],United Kingdom,"September 9, 2016",2016,TV-MA,94 min,...,Jandino Asporaat riffs on the challenges of ra...,1.0,[Comedy],95 min,4.8,23,https://m.media-amazon.com/images/M/MV5BMWE3MG...,NaN,NaN,"[English, Dutch]"
2,70234439,TV Show,Transformers Prime,NaN,"[Peter Cullen, Sumalee Montano, Frank Welker...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,...,"With the help of three human allies, the Autob...",2.0,"[Animation, Action, Adventure, Comedy, Dra...",30 min,7.9,5454,https://m.media-amazon.com/images/M/MV5BMTczND...,14 wins & 26 nominations.,NaN,[English]
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"[Will Friedle, Darren Criss, Constance Zimme...",United States,"September 8, 2018",2016,TV-Y7,1 Season,...,When a prison ship crash unleashes hundreds of...,3.0,"[Animation, Action, Adventure, Comedy, Sci...",22 min,6.0,842,https://m.media-amazon.com/images/M/MV5BMjMwNT...,2 wins & 11 nominations.,NaN,[English]
4,80125979,Movie,#realityhigh,Fernando Lebrija,"[Nesta Cooper, Kate Walsh, John Michael Higg...",United States,"September 8, 2017",2017,TV-14,99 min,...,When nerdy high schooler Dani finally attracts...,NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6228,80159925,TV Show,Kikoriki,NaN,[Igor Dmitriev],NaN,NaN,2010,TV-Y,2 Seasons,...,A wacky rabbit and his gang of animal pals hav...,474.0,"[Animation, Adventure, Comedy, Family]",10 min,7.7,499,https://m.media-amazon.com/images/M/MV5BODE3OW...,3 nominations.,NaN,"[Russian, English]"
6229,80000063,TV Show,Red vs. Blue,NaN,"[Burnie Burns, Jason SaldaÃ±a, Gustavo Sorola...",United States,NaN,2015,NR,13 Seasons,...,"This parody of first-person shooter games, mil...",475.0,"[Animation, Short, Action, Adventure, Come...",6 min,8.3,8873,https://m.media-amazon.com/images/M/MV5BMTM5Mj...,1 win & 7 nominations.,NaN,"[English, Spanish]"
6230,70286564,TV Show,Maron,NaN,"[Marc Maron, Judd Hirsch, Josh Brener, Nora...",United States,NaN,2016,TV-MA,4 Seasons,...,"Marc Maron stars as Marc Maron, who interviews...",476.0,[Comedy],22 min,7.7,4557,https://m.media-amazon.com/images/M/MV5BMThhNT...,NaN,NaN,[English]
6232,70281022,TV Show,A Young Doctor's Notebook and Other Stories,NaN,"[Daniel Radcliffe, Jon Hamm, Adam Godley, C...",United Kingdom,NaN,2013,TV-MA,2 Seasons,...,"Set during the Russian Revolution, this comic ...",NaN,NaN,NaN,NaN,0,NaN,NaN,NaN,NaN
6233,70153404,TV Show,Friends,NaN,"[Jennifer Aniston, Courteney Cox, Lisa Kudro...",United States,NaN,2003,TV-14,10 Seasons,...,This hit sitcom follows the merry misadventure...,478.0,"[Comedy, Romance]",22 min,8.9,818649,https://m.media-amazon.com/images/M/MV5BNDVkYj...,Won 1 Golden Globe. Another 76 wins & 220 nomi...,NaN,"[English, Dutch, Italian, French]"

In [23]:
# Loop through language (omdb language) and get unique values into language_set set
cast_set = set()

for row in cast:
    for i in row:
        cast_set.add(i)
print(cast_set)

cast_df = pd.DataFrame(cast_set, columns=["cast"])
cast_df["cast"]=cast_df["cast"].str.strip()
cast_df = cast_df.drop_duplicates()
cast_df = cast_df.reset_index()
cast_df = cast_df.rename(columns={'index': 'cast_no'})
print(len(cast_df))
cast_df.head()

TypeError: 'float' object is not iterable

In [ ]:
# Break out languages with show_id
language_all_df = merged_df.loc[:,['show_id', 'language']]
language_all_df = language_all_df.explode('language')
language_all_df['language'] = language_all_df['language'].str.strip()
language_all_df.dropna(inplace = True)
language_all_df.head()

In [ ]:
# merge tables to create show_id and language_no table
language_table = language_all_df.merge(language_df,how = "left", on="language")
language_table = language_table.loc[:,['show_id','language_no']]
print(len(language_table))
language_table.head()

## Transform title table

In [20]:
title_df = merged_df.drop(columns=["listed_in","genre","language","Unnamed: 0"])
title_df_show = title_df.loc[title_df.show_id == 80057969]
title_df_show
print(len(title_df))
title_df.head()

6234

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,description,runtime,imdbRating,imdbVotes,poster,awards,boxoffice
0,81145628,Movie,Norm of the North: King Sized Adventure,"Richard Finn, Tim Maltby","Alan Marriott, Andrew Toth, Brian Dobson, Cole...","United States, India, South Korea, China","September 9, 2019",2019,TV-PG,90 min,Before planning an awesome wedding for his gra...,90 min,3.3,311,https://m.media-amazon.com/images/M/MV5BNjMwZD...,NaN,NaN
1,80117401,Movie,Jandino: Whatever it Takes,NaN,Jandino Asporaat,United Kingdom,"September 9, 2016",2016,TV-MA,94 min,Jandino Asporaat riffs on the challenges of ra...,95 min,4.8,23,https://m.media-amazon.com/images/M/MV5BMWE3MG...,NaN,NaN
2,70234439,TV Show,Transformers Prime,NaN,"Peter Cullen, Sumalee Montano, Frank Welker, J...",United States,"September 8, 2018",2013,TV-Y7-FV,1 Season,"With the help of three human allies, the Autob...",30 min,7.9,5454,https://m.media-amazon.com/images/M/MV5BMTczND...,14 wins & 26 nominations.,NaN
3,80058654,TV Show,Transformers: Robots in Disguise,NaN,"Will Friedle, Darren Criss, Constance Zimmer, ...",United States,"September 8, 2018",2016,TV-Y7,1 Season,When a prison ship crash unleashes hundreds of...,22 min,6.0,842,https://m.media-amazon.com/images/M/MV5BMjMwNT...,2 wins & 11 nominations.,NaN
4,80125979,Movie,#realityhigh,Fernando Lebrija,"Nesta Cooper, Kate Walsh, John Michael Higgins...",United States,"September 8, 2017",2017,TV-14,99 min,When nerdy high schooler Dani finally attracts...,NaN,NaN,0,NaN,NaN,NaN

## Load data into postgres using sqlalchemy

In [ ]:
# create connection to ETL_project_DB in postgres
engine = create_engine('postgresql://postgres:'+password+'@localhost:5432/Netflix_movies')
connection = engine.connect()

In [ ]:
# check table names in database
engine.table_names()

In [ ]:
# load dataframes into postgres using pandas
title_df.to_sql(name='Title', con=engine, if_exists='append', index=False)

netflix_genre_id.to_sql(name='Netflix_Listed_in', con=engine, if_exists='append', index=False)
netflix_genre_table.to_sql(name='Netflix_title_Listed_in', con=engine, if_exists='append', index=False)

omdb_genre_id.to_sql(name='OMDB_genre', con=engine, if_exists='append', index=False)
omdb_genre_table.to_sql(name='OMDB_title_genre', con=engine, if_exists='append', index=False)

language_df.to_sql(name='OMDB_language', con=engine, if_exists='append', index=False)
language_table.to_sql(name='OMDB_title_language', con=engine, if_exists='append', index=False)